.App {
  text-align: center;
}

.page-title {
  font-family: "Arial", sans-serif; /* Clean and modern font */
  font-size: 10rem; /* Adjust the size as needed */
  color: #333; /* Dark gray color */
  text-align: center; /* Center align the title */
  margin-top: 20px; /* Add spacing from the top */
  margin-bottom: 20px; /* Add spacing below */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 2px; /* Add spacing between letters */
  line-height: 1.5; /* Adjust line height */
  background-color: #00b89a; /* Gradient text effect */
  -webkit-background-clip: text; /* Show only the text on the gradient */
  -webkit-text-fill-color: transparent; /* Make the text transparent */
}

@media (max-width: 768px) {
  .page-title {
    font-size: 2rem; /* Adjust size for smaller screens */
  }
}

@media (max-width: 480px) {
  .page-title {
    font-size: 3rem; /* Further reduce size for very small screens */
  }
}

.glow-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #28a745; /* Green background color */
  color: #fff; /* White text color */
  font-size: 1em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for background color and box-shadow */
}

.glow-button:hover {
  background-color: #27d54d; /* Darker green background color on hover */
  box-shadow: 0 0 10px rgba(40, 167, 69, 0.8); /* Green glow effect */
}

.glow-button:active {
  background-color: #1e7e34; /* Even darker green background color on active */
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.6); /* Slightly smaller glow effect on active */
}

.card-header {
  background-color: #343a40;
  color: #fff;
  padding: 15px;
  margin-bottom: 5vh;
  width: fit-content;
  border-bottom: 1px solid #495057;
  /* z-index: 2; Ensure header is above the overlay */
}

.card-body {
  padding: 20px;
  position: relative;
  z-index: 2; /* Ensure body is above the overlay */
}
.cont {
  display: flex;
  align-items: center;
  flex-direction: column;
}
