.App {
  text-align: center;
}

/* blog */
.contact-home {
  margin-top: 10vh;
  background-image: url("/public/projectsBack.png");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.page-title {
  font-family: "Arial", sans-serif; /* Clean and modern font */
  font-size: 6rem; /* Adjust the size as needed */
  color: #333; /* Dark gray color */
  text-align: center; /* Center align the title */
  margin-top: 20px; /* Add spacing from the top */
  margin-bottom: 20px; /* Add spacing below */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 2px; /* Add spacing between letters */
  line-height: 1.5; /* Adjust line height */
  background: #00b89a; /* Gradient text effect */
  -webkit-background-clip: text; /* Show only the text on the gradient */
  -webkit-text-fill-color: transparent; /* Make the text transparent */
}
@media (max-width: 768px) {
  .blogHome,
  .contact-home {
    margin-top: 48vh;
  }
}

@media (max-width: 768px) {
  .page-title {
    font-size: 2rem; /* Adjust size for smaller screens */
  }
}

@media (max-width: 480px) {
  .page-title {
    font-size: 1.5rem; /* Further reduce size for very small screens */
  }
}
